name: Build and push images (dev)

on:
  push:
    branches:
      - 'dev'

# Cancel any previous runs of this workflow
concurrency:
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

env:
  REGISTRY: quay.io/ecosystem-appeng

jobs:
  build-and-push:
    if: github.repository_owner == 'rh-ai-quickstart'
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and push images
        uses: ./.github/actions/build-and-push
        with:
          branch: dev
          registry: ${{ env.REGISTRY }}

