name: Build and push images (main)

on:
  push:
    branches:
      - 'main'

# Cancel any previous runs of this workflow
concurrency:
  group: ${{ github.workflow }}-${{ github.sha }}
  cancel-in-progress: true

env:
  REGISTRY: quay.io/ecosystem-appeng

jobs:
  build-and-push:
    if: github.repository_owner == 'rh-ai-quickstart'
    runs-on: ubuntu-latest
    
    steps:
      - name: Build and push images
        uses: ./.github/actions/build-and-push
        with:
          branch: main
          registry: ${{ env.REGISTRY }}

